/* Resource Definition Script for the Dialog Dialog Box
 *
 * Dialog.rc
 * fwk4gps version 2.0
 * gam666/dps901
 * October 4 2011
 * copyright (c) 2011 Chris Szalwinski 
 * distributed under TPL - see ../Licenses.txt
 */

#include <afxres.h>
#include "WindowSettings.h" // for IDC_?, IDD_DLG

// Dialog Box Template for IDD_DLG
//
IDD_DLG DIALOGEX 200, 100, 200, 305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION DLG_NAME
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "Display Device", IDC_STATIC, 10, 5, 50, 10
    COMBOBOX        IDC_DIS, 10, 15, 180, 64, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Resolution", IDC_STATIC, 10, 35, 50, 10
    COMBOBOX        IDC_RES, 10, 45, 180, 50, CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Action", IDC_STATIC, 10, 65, 55, 10
    COMBOBOX        IDC_ACT, 10, 75, 125, 66, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Press Key", IDC_STATIC, 138, 65, 52, 10
    COMBOBOX        IDC_KEY, 138, 75, 52, 127, CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Coordinator Sound", IDC_STATIC, 10, 95, 55, 10
    COMBOBOX        IDC_AUD,10,105,55,66, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Sound File", IDC_STATIC, 68, 95, 112, 10
    COMBOBOX        IDC_SFL, 68, 105, 122, 127, CBS_DROPDOWNLIST | WS_DISABLED | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Controller", IDC_STATIC, 10, 125, 50, 10
    COMBOBOX        IDC_CNT,10,135,180,50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Trigger", IDC_STATIC, 10, 155, 50, 10
    COMBOBOX        IDC_TRG, 10, 165, 180, 50, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Reverse Y Axis", IDC_YRV, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 185, 65, 10
    CONTROL         "Use Z Axis (if available)", IDC_ZON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 85, 185, 100, 10
    DEFPUSHBUTTON   "Go", IDC_GO, 40, 205, 50, 15, WS_DISABLED
    PUSHBUTTON      "Cancel", IDCANCEL, 110, 205, 50, 15
	LTEXT           "fwk4gps is copyright (c) 2011, Chris Szalwinski.", IDC_STATIC, 8, 230, 200, 10  // DO NOT REMOVE WITHOUT WRITTEN PERMISSION
	LTEXT           "Source code is distributed under the PostgreSQL Open", IDC_STATIC, 8, 240, 200, 10  // DO NOT REMOVE WITHOUT WRITTEN PERMISSION
	LTEXT           "Source License (TPL).  For the full text, see ../Licenses.txt", IDC_STATIC, 8, 250, 200, 10   // DO NOT REMOVE WITHOUT WRITTEN PERMISSION
	LTEXT           "Audio clips are redistributed under Creative Commons ", IDC_STATIC, 8, 265, 200, 10   // DO NOT REMOVE WITHOUT WRITTEN PERMISSION
	LTEXT           "Sampling Plus 1.0 licenses.  For full text, see ../Licenses.txt", IDC_STATIC, 8, 275, 200, 10 // DO NOT REMOVE WITHOUT WRITTEN PERMISSION
	LTEXT           "Mesocricetus team: Grace Batumbya, Scott Downe", IDC_STATIC, 8, 290, 200, 10
					// Insert other credits here and expand the depth of the dialog box to suit
END
